<div class="container">
    <div class="row text-center" id="text_question">
        <h1>{{question}}</h1>
    </div>
    <div class="row text-center" id="text_vote">
        <h3>{{totalVote}} vote</h3>
    </div>
    <div class="row">
        <div id="question_result" class="col-xs-12 question_result" style="display : block">
            <div class="result-bar">
                <div id="question_result_no" class="question_result_no" style="width: {{noRate}}%;">
                    {{noRate}}%
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                </div>
                <div id="question_result_yes" class="question_result_yes" style="width: {{yesRate}}%;">
                    {{yesRate}}%
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <a href="/"><button type="submit" class="btn btn-success btn-lg btn-xemcauhoikhac">Xem câu hỏi khác</button></a>
    </div>
</div>




